{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "TCParkingBundle::layout.html.twig" %}

{% block tcparking_body %}

  <h2>Ajouter un parking</h2>

  {{ include("TCParkingBundle:Parking:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}
