{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "TCParkingBundle::layout.html.twig" %}

{% block title %}
  Modifier un parking - {{ parent() }}
{% endblock %}

{% block tcparking_body %}

  <h2>Ajouter un parking</h2>

  {{ include("TCParkingBundle:Parking:form.html.twig") }}

  <p>
     <a href="{{ path('tc_parking_view', {'id': parking.id}) }}" class="btn btn-default">
       <i class="glyphicon glyphicon-chevron-left"></i>
       Retour à l'annonce
     </a>
   </p>
{% endblock %}
